.comments-section {
  background-color: #fdfb76;
  padding: 64px 0;
}

.comments-list {
  max-width: 640px;
  margin: auto;
  background-color: #90dcff;
  border: solid 2px #49297e;
  padding: 8px;
}

.comments-list-item {
  background-color: #4b6584;
  font-family: "Comic Sans MS";
  color: #d1d8e0;
  padding: 8px;
  border: dotted 4px #f7b731;
  margin: 8px 0;
}

.comments-list-item-avatar {
  width: 36px;
  height: 36px;
  border: solid 2px #eb3b5a;
}

.comments-list-item-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.comments-list-item-info-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comments-list-item-username {
  font-variant: small-caps;
}

.comments-list-item-created-at {
  font-size: 14px;
}

.comments-list-item-title {
  margin: 4px;
}

.comments-list-item-message {
  font-size: 18px;
}
