body {
  margin: 0;
  font-family: Helvetica;
  font-size: 16px;
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.reset-anchor,
.reset-anchor:visited,
.reset-anchor:hover {
  color: inherit;
  text-decoration: none;
}

a:not([class="reset-anchor"]) {
  color: #4503c0;
  text-decoration: none;
}

a:not([class="reset-anchor"]):hover {
  text-decoration: underline;
}
