.button {
  border: 1px solid #303F9F;
  color: #303F9F;
  border-radius: 4px;
  padding: 6px 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}