.icon-button {
  --bg-color: transparent;
  border-radius: 50%;
  padding: 0.6em;
  font-size: 1.2em;
  background-color: var(--bg-color);
}

.icon-button:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
